:host {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .employee-container {
    border: 1px solid #ccdddd;
    margin: 5px;

    > div {
      padding: 0 20px;
    }

    & span {
      padding-right: 5px;
    }
  }
}
